body {
    background-color: black;
    color:aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

h1 {
    font-size: 1.7em;
    font-weight: 900;
    margin: 1em;
}

#choice {
    margin: 1.5em;
}

button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    margin: 0px 15px;
    outline: 0;
    border: 1px solid rgb(250, 245, 245);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    button {
        padding: 13px 50px 13px;
    }
}

#results, #choices {
    margin-top: 3em;
    display:flex;
    justify-content: space-evenly;
}

#playerScore, #computerScore {
    font-size: 1.5em;
    margin-bottom: 1.1em;
}